.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-group-item:hover {
	background-color: rgb(243, 239, 239);
}

.save:hover {
	color: green;
}
.edit:hover {
	color: green;
}
.view:hover {
	color: dodgerblue;
}
.delete:hover {
	color: red;
}
